# Mutual Fund Plan

##### Mutual funds are investment plans that pool money from multiple investors to purchase a diversified portfolio of stocks, bonds, and other securities, managed by professional fund managers. A mutual fund plan is created by selecting the stocks where an investor can benefit in the long term.

A mutual fund plan is created by selecting the stocks where an investor can benefit in the long term. we can follow below process to create a mutual fund plan:

- Step 1. Gather historical stock data, such as closing prices and growth trends over time.
- Step 2: Calculate key metrics like Return on Investment (ROI) and volatility (risk) to understand how each stock has performed historically.
- Step 3: Choose stocks that have a high ROI and low volatility to ensure a balance between risk and reward.
- Step 4: Calculate the future value of monthly investments based on the expected ROI of the selected stocks.

In [7]:
# Importing requried libraries
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('nifty50_closing_prices.csv')
df.head()

,Date,RELIANCE.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,TCS.NS,KOTAKBANK.NS,HINDUNILVR.NS,ITC.NS,LT.NS,...,HEROMOTOCO.NS,DRREDDY.NS,SHREECEM.NS,BRITANNIA.NS,UPL.NS,EICHERMOT.NS,SBILIFE.NS,ADANIPORTS.NS,BAJAJ-AUTO.NS,HINDALCO.NS
0,2024-08-20 00:00:00+05:30,2991.899902,1637.699951,1179.449951,1872.199951,4523.299805,1805.650024,2751.050049,498.799988,3572.699951,...,5244.399902,6965.350098,24730.550781,5765.799805,566.150024,4883.250000,1761.300049,1492.550049,9779.700195,672.900024
1,2024-08-21 00:00:00+05:30,2997.350098,1625.800049,1174.849976,1872.699951,4551.500000,1812.949951,2791.199951,505.399994,3596.050049,...,5284.700195,7062.450195,24808.050781,5837.350098,568.299988,4913.549805,1800.599976,1503.500000,9852.000000,685.599976
2,2024-08-22 00:00:00+05:30,2996.250000,1631.300049,1191.099976,1880.250000,4502.000000,1821.500000,2792.800049,504.549988,3606.500000,...,5329.950195,6969.049805,25012.400391,5836.799805,579.150024,4933.549805,1795.250000,1492.300049,9914.200195,685.549988
3,2024-08-23 00:00:00+05:30,2999.949951,1625.050049,1203.500000,1862.099976,4463.899902,1818.000000,2815.600098,505.799988,3598.550049,...,5384.899902,6954.500000,24706.050781,5792.649902,573.700012,4898.100098,1789.300049,1491.300049,10406.450195,685.099976
4,2024-08-26 00:00:00+05:30,3025.199951,1639.949951,1213.300049,1876.150024,4502.450195,1812.500000,2821.149902,505.700012,3641.899902,...,5343.750000,6943.299805,24906.449219,5796.950195,577.450012,4875.200195,1796.250000,1482.550049,10432.549805,711.849976

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 51 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           24 non-null     object
 1   RELIANCE.NS    24 non-null     float64
 2   HDFCBANK.NS    24 non-null     float64
 3   ICICIBANK.NS   24 non-null     float64
 4   INFY.NS        24 non-null     float64
 5   TCS.NS         24 non-null     float64
 6   KOTAKBANK.NS   24 non-null     float64
 7   HINDUNILVR.NS  24 non-null     float64
 8   ITC.NS         24 non-null     float64
 9   LT.NS          24 non-null     float64
 10  SBIN.NS        24 non-null     float64
 11  BAJFINANCE.NS  24 non-null     float64
 12  BHARTIARTL.NS  24 non-null     float64
 13  HCLTECH.NS     24 non-null     float64
 14  ASIANPAINT.NS  24 non-null     float64
 15  AXISBANK.NS    24 non-null     float64
 16  DMART.NS       24 non-null     float64
 17  MARUTI.NS      24 non-null     float64
 18  ULTRACEMCO.NS  24 non-null     float64
 19  HDFC.NS        0 non-null      float64
 20  TITAN.NS       24 non-null     float64
 21  SUNPHARMA.NS   24 non-null     float64
 22  M&M.NS         24 non-null     float64
 23  NESTLEIND.NS   24 non-null     float64
 24  WIPRO.NS       24 non-null     float64
 25  ADANIGREEN.NS  24 non-null     float64
 26  TATASTEEL.NS   24 non-null     float64
 27  JSWSTEEL.NS    24 non-null     float64
 28  POWERGRID.NS   24 non-null     float64
 29  ONGC.NS        24 non-null     float64
 30  NTPC.NS        24 non-null     float64
 31  COALINDIA.NS   24 non-null     float64
 32  BPCL.NS        24 non-null     float64
 33  IOC.NS         24 non-null     float64
 34  TECHM.NS       24 non-null     float64
 35  INDUSINDBK.NS  24 non-null     float64
 36  DIVISLAB.NS    24 non-null     float64
 37  GRASIM.NS      24 non-null     float64
 38  CIPLA.NS       24 non-null     float64
 39  BAJAJFINSV.NS  24 non-null     float64
 40  TATAMOTORS.NS  24 non-null     float64
 41  HEROMOTOCO.NS  24 non-null     float64
 42  DRREDDY.NS     24 non-null     float64
 43  SHREECEM.NS    24 non-null     float64
 44  BRITANNIA.NS   24 non-null     float64
 45  UPL.NS         24 non-null     float64
 46  EICHERMOT.NS   24 non-null     float64
 47  SBILIFE.NS     24 non-null     float64
 48  ADANIPORTS.NS  24 non-null     float64
 49  BAJAJ-AUTO.NS  24 non-null     float64
 50  HINDALCO.NS    24 non-null     float64
dtypes: float64(50), object(1)
memory usage: 9.7+ KB

In [10]:
df.describe()

,RELIANCE.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,TCS.NS,KOTAKBANK.NS,HINDUNILVR.NS,ITC.NS,LT.NS,SBIN.NS,...,HEROMOTOCO.NS,DRREDDY.NS,SHREECEM.NS,BRITANNIA.NS,UPL.NS,EICHERMOT.NS,SBILIFE.NS,ADANIPORTS.NS,BAJAJ-AUTO.NS,HINDALCO.NS
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,2976.912506,1652.339579,1236.770818,1914.558324,4478.349976,1809.422918,2845.333344,507.739581,3647.099976,802.233332,...,5619.377096,6785.795817,25299.906169,5935.202026,596.343750,4863.831258,1849.331243,1462.916677,10999.654134,681.885417
std,41.290551,28.258220,36.438726,30.240685,70.822718,32.936318,65.620694,5.472559,60.511574,17.442330,...,247.092728,175.124908,429.919834,144.164343,16.975821,68.442418,43.189734,26.223794,659.810841,15.952804
min,2903.000000,1625.050049,1174.849976,1862.099976,4284.899902,1764.150024,2751.050049,497.299988,3536.949951,768.599976,...,5244.399902,6502.549805,24692.199219,5703.350098,566.150024,4726.649902,1761.300049,1408.199951,9779.700195,647.700012
25%,2941.862488,1637.062469,1219.750031,1893.687469,4472.937622,1783.800049,2790.662476,504.962502,3597.950012,785.224991,...,5370.012451,6649.574951,24885.174316,5835.449829,578.875015,4846.037598,1820.725006,1440.199951,10617.962402,672.162521
50%,2988.924927,1640.875000,1235.474976,1911.225037,4504.050049,1804.500000,2838.699951,507.550003,3646.349976,811.950012,...,5662.075195,6741.475098,25432.200195,5919.099854,600.850006,4871.925049,1845.099976,1470.950012,10927.625000,684.050018
75%,3005.237427,1666.112457,1250.799988,1941.862488,4514.362549,1822.987488,2899.987549,511.337509,3689.325012,816.050018,...,5783.537598,6956.612549,25630.112793,6074.562500,610.737518,4912.350098,1879.149963,1482.062531,11697.137207,687.799988
max,3041.850098,1741.199951,1338.449951,1964.500000,4553.750000,1904.500000,2977.600098,519.500000,3793.899902,824.799988,...,6013.250000,7062.450195,26019.650391,6210.549805,619.200012,4963.149902,1928.650024,1503.500000,11950.299805,711.849976

In [16]:
print('List of the Stocks are : ')
df.columns[1:]

List of the Stocks are :

Index(['RELIANCE.NS', 'HDFCBANK.NS', 'ICICIBANK.NS', 'INFY.NS', 'TCS.NS',
       'KOTAKBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'LT.NS', 'SBIN.NS',
       'BAJFINANCE.NS', 'BHARTIARTL.NS', 'HCLTECH.NS', 'ASIANPAINT.NS',
       'AXISBANK.NS', 'DMART.NS', 'MARUTI.NS', 'ULTRACEMCO.NS', 'HDFC.NS',
       'TITAN.NS', 'SUNPHARMA.NS', 'M&M.NS', 'NESTLEIND.NS', 'WIPRO.NS',
       'ADANIGREEN.NS', 'TATASTEEL.NS', 'JSWSTEEL.NS', 'POWERGRID.NS',
       'ONGC.NS', 'NTPC.NS', 'COALINDIA.NS', 'BPCL.NS', 'IOC.NS', 'TECHM.NS',
       'INDUSINDBK.NS', 'DIVISLAB.NS', 'GRASIM.NS', 'CIPLA.NS',
       'BAJAJFINSV.NS', 'TATAMOTORS.NS', 'HEROMOTOCO.NS', 'DRREDDY.NS',
       'SHREECEM.NS', 'BRITANNIA.NS', 'UPL.NS', 'EICHERMOT.NS', 'SBILIFE.NS',
       'ADANIPORTS.NS', 'BAJAJ-AUTO.NS', 'HINDALCO.NS'],
      dtype='object')

In [21]:
# Converting date column to datetime:
df['Date'] = pd.to_datetime(df['Date'])

In [23]:
df['Date'].dtypes

datetime64[ns, UTC+05:30]

In [20]:
# Checking null values
print(df.isnull().sum())

Date              0
RELIANCE.NS       0
HDFCBANK.NS       0
ICICIBANK.NS      0
INFY.NS           0
TCS.NS            0
KOTAKBANK.NS      0
HINDUNILVR.NS     0
ITC.NS            0
LT.NS             0
SBIN.NS           0
BAJFINANCE.NS     0
BHARTIARTL.NS     0
HCLTECH.NS        0
ASIANPAINT.NS     0
AXISBANK.NS       0
DMART.NS          0
MARUTI.NS         0
ULTRACEMCO.NS     0
HDFC.NS          24
TITAN.NS          0
SUNPHARMA.NS      0
M&M.NS            0
NESTLEIND.NS      0
WIPRO.NS          0
ADANIGREEN.NS     0
TATASTEEL.NS      0
JSWSTEEL.NS       0
POWERGRID.NS      0
ONGC.NS           0
NTPC.NS           0
COALINDIA.NS      0
BPCL.NS           0
IOC.NS            0
TECHM.NS          0
INDUSINDBK.NS     0
DIVISLAB.NS       0
GRASIM.NS         0
CIPLA.NS          0
BAJAJFINSV.NS     0
TATAMOTORS.NS     0
HEROMOTOCO.NS     0
DRREDDY.NS        0
SHREECEM.NS       0
BRITANNIA.NS      0
UPL.NS            0
EICHERMOT.NS      0
SBILIFE.NS        0
ADANIPORTS.NS     0
BAJAJ-AUTO.NS     0
HINDALCO.NS       0
dtype: int64